@model vidlyApp.Models.Customer
  

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
          
       
        </dd>
        @if (Model.BithDate!=null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.BithDate)
                
            </dt>
            <dd>
                @Html.DisplayFor(a => a.BithDate, "dd/MMMM/yyyy=>") @*@Html.EditorFor(a => a.BithDate, "dd/MM/yyyy")*@
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.IsSubscribeToNewsletter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSubscribeToNewsletter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberShiptype.DiscountInRate)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberShiptype.DiscountInRate) %
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
