@model IEnumerable<vidlyApp.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!Model.Any())
{
    <p class="alert alert-danger">We Don't have any Customer yet..!</p>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSubscribeToNewsletter)

            </th>

            <th>Discount Name</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
              
                <td>
                    @Html.EditorFor(modelItem => item.IsSubscribeToNewsletter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberShiptype.Name)%
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink(item.Name, "Details", "Customer", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}

